.navbar { background: #9c9; }
.navbar-brand { padding: 7px 15px; }

#main { margin-top: 75px; }

.product-image { height: 174px; width: auto; }

@media (min-width: 1200px) {
  .container{ max-width: 960px; }
}