<div class="row">
  <% cache ["store", Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ["entry", product] do %>
        <div class="col-md-4">
          <h3><%= truncate(product.title, length: 24) %></h3>
          <%= image_tag(product.image_url, class: "center-block product-image") %>
          <p><%= sanitize(product.description.truncate(100)) %></p>
          <p><%= product.price %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
